<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	 <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- My jQuery script -->
    <script type="text/javascript">
        $(document).ready(function() {
        $('textarea').bind("change keyup input click", function() {
        if (this.value.match(/[^0-9\.]/g)) {
        this.value = this.value.replace(/[^0-9\.]/g, '');
        }
        });
        });
    </script>

	<title>Uliana_Koneva_Blog</title>

	<link rel="stylesheet" type='text/css' href="{% static 'css/calculator.css' %}">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-light nav_style">
		<div class="container size_control">
        <!-- Links -->
            <p class="navbar-brand" href="#"><span>Ульяна Конева. </span>Блог про инвестиции</p>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto size_control">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Обо мне</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{%url 'cal_in' %}">Инвестиционный калькулятор</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'showblog' %}">Все статьи</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>

    <section class="main_section">
        <div class="container size_control">
            <h1 class="main_h1">Инвестиционный калькулятор</h1>
            <p class="lead text-muted main_text" >Данный инструмент дает возможность более грамотно простраивать свои финансовые цели.</p>
            <form action="{% url 'cal_out' %}">
                <p class="information">Введите в первое поле желаемую сумму накоплений, в ценах настоящего времени</p>
                <p class = "lead text-muted recomendation">Поле принимает только целые числа</p>
                <textarea name="present_value" cols="30" rows="1" p></textarea>
                <p class="information">Введите во второе поле предполагаемый срок накоплений (года)</p>
                <p class = "lead text-muted recomendation">Поле принимает целые и дробные числа, меньше 300. В качестве разделителя нужно использовать точку</p>
                <textarea name="time_in_years" cols="30" rows="1"></textarea>
                <p class="information">Введите в третье поле предполагаемую инфляцию (проценты)</p>
                <p class = "lead text-muted recomendation">Поле принимает целые и дробные числа. В качестве разделителя нужно использовать точку</p>
                <textarea name="inflation" cols="30" rows="1"></textarea>
                <p class="information">Введите в четвертое поле предполагаемую доходность (проценты)</p>
                <p class = "lead text-muted recomendation">Поле принимает целые и дробные числа. В качестве разделителя нужно использовать точку</p>
                <textarea name="profitability" cols="30" rows="1"></textarea>
                <br><br>
                <input type="submit" name="" value = "Отправка данных">
            </form>
        </div>
    </section>

    <footer>
        <div class="container size_control">
            <p id="footer_text">Все, написанное здесь, является личным мнением автора.<br>Не является индивидуально инвестиционной рекомендацией.</p><br><br>
        </div>
    </footer>

</body>
</html>