@media screen and (max-device-width: 420px) {
            h1 {font-size: 28px;}
            span {display: none;}
}

.size_control {
	max-width: 1000px;
}

.nav_style {
	background-color: #ffbf80;
}


.navbar p {
	color: black;
	margin-bottom:0px;
	font-size: 18px;
}

.navbar-nav a {
	color: black;
	font-size: 18px;
	margin-left: 10px;
}

.navbar-nav a:active {
	color: black;
	font-weight: bold;
}

.section_text {
	max-width: 800px;
}

.main_section {
	margin-bottom: 40px;
}

.ul_style {
	margin-left: 0; 
	padding-left: 25px;
	font-size: 18px;
}

.ul_h1 {
	padding: 25px;
}

.li_style {
	list-style-type: none;
	margin-bottom: 10px;
}
.li_summary_text {
	font-style: italic;
}

footer {
	background-color: #ffbf80;
}

#footer_text {
	padding-top: 20px;
	text-align: center;
}
